body {
  background-color: #888;
}

h1 {
  text-align: center;
  font-size: 4rem;
}
ul {
  margin: 0 auto;
}
ul li {
  list-style: none;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
ul li a {
  text-decoration: none;
}
img {
  height: 20rem;
}
.img {
  display: flex;
  justify-content: center;
}
